@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ant-layout-sider-collapsed {
    font-size: 0.5rem;
  }
  .logo {
    background: #4e73df;
  }
  sidebar-items {
    background: #4e73df;
  }
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
    .ant-menu-item-selected {
    background: transparent;
    font-weight: 700;
  }
  
  .ant-menu-item {
    display: flex;
    align-items: center;
  
    font-size: 1rem !important;
  }
  
  .ant-layout-header {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  }
  .site-layout-background {
    padding: 0;
  }
  .anticon-menu-fold {
    padding: 0 1rem;
    font-size: 1.2rem;
  }
  
  .anticon-menu-unfold {
    padding: 1rem;
  }
  .name {
    font-size: 0.8rem;
    padding: 0 0.8rem;
  }
  
  @media (max-width: 600px) {
    .name {
      display: none;
    }
  }
  @keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .spinner {
    margin: 16px;
    animation: rotate360 1s linear infinite;
    transform: translateZ(0);
    border-top: 2px solid #1f59bc;
    border-right: 2px solid #1f59bc;
    border-bottom: 2px solid #1f59bc;
    border-left: 4px solid #1f59bb;
    background: transparent;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;
  
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
  }
  .btn:focus,
  .btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .btn:hover,
  .btn:focus {
    color: #333;
    text-decoration: none;
  }
  .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  
  /* default
  ---------------------------- */
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
  .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  .btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
    h2 {
      color: #fff;
      font-weight: 700;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: '1rem 0rem 2rem 0px';
      font-size: '0.9rem ';
    }
  
}

